<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="authorizedData">
    <!-- <img src="{{authorizedData.photoURL}}"/> -->
    <ion-card-content>
      <ion-card-title>
        {{authorizedData.displayName}}
        <button ion-button (click)="signOut()" style="vertical-align: baseline;">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-card-title>
      <p>
        Email : {{authorizedData.email}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="authorizedData">
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-icon name="logo-instagram" item-left></ion-icon>
          Uploaded Photos
          <ion-badge item-right>3</ion-badge>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-list>
          <ion-item class="text" *ngFor="let imgUrl of imgUrls | async">
            {{imgUrl.$value}}
          </ion-item>
        </ion-list>
        <!-- <ion-col col-4>
          <img src="">
        </ion-col>
        <ion-col col-4>
          <img src="">
        </ion-col>
        <ion-col col-4>
          <img src="">
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
