<ion-header>
  <ion-navbar color="custom">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="authorizedData">
    <ion-item>
      <!-- <ion-avatar item-left>
        <img src="{{authorizedData.photoURL}}">
      </ion-avatar> -->
      <ion-thumbnail item-left>
        <img src="{{authorizedData.photoURL}}">
      </ion-thumbnail>
      <h2>{{authorizedData.displayName}}</h2>
      <p>{{authorizedData.email}}
        <button ion-button (click)="signOut()" style="vertical-align: baseline;">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </p>
    </ion-item>
    <hr>
    <ion-grid *ngIf="authorizedData">
      <ion-row>
        <ion-item>
          <ion-icon name="logo-instagram" item-left></ion-icon>
          Uploaded Photos
          <ion-badge item-right>{{imgNum}}</ion-badge>
        </ion-item>
      </ion-row>
      <ion-row *ngFor="let imgUrl of imgUrls | async">
        <ion-col col-4>
          <img src="{{imgUrl.url}}">
        </ion-col>
        <!-- <ion-col col-4>
          <img src="">
        </ion-col>
        <ion-col col-4>
          <img src="">
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-fab bottom left>
  <button ion-fab color="custom"><ion-icon name="add"></ion-icon></button>
  <ion-fab-list side="right">
    <button ion-fab color="custom" (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
    <button ion-fab color="custom" (click)="selectFromPhotoAlbum()"><ion-icon name="images"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
