<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="authorizedData">
    <!-- <img src="{{authorizedData.photoURL}}"/> -->
    <ion-card-content>
      <ion-fab bottom left>
        <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="right">
          <button ion-fab (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
          <button ion-fab (click)="selectFromPhotoAlbum()"><ion-icon name="images"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
      <ion-card-title>
        {{authorizedData.email}}
        <button ion-button (click)="signOut()" style="vertical-align: baseline;">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-card-title>
      <p>
        <!-- {{authorizedData.displayName}} -->
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="authorizedData">
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-icon name="logo-instagram" item-left></ion-icon>
          Uploaded Photos
          <ion-badge item-right>3</ion-badge>
        </ion-item>
      </ion-row>
      <ion-row *ngFor="let imgUrl of imgUrls | async">
        <!-- <ion-list>
          <ion-item class="text" *ngFor="let imgUrl of imgUrls | async">
            {{imgUrl.$value}}
            {{imgUrl | json}}
          </ion-item>
        </ion-list> -->
        <ion-col col-4>
          <img src="{{imgUrl.url}}">
        </ion-col>
        <!-- <ion-col col-4>
          <img src="">
        </ion-col>
        <ion-col col-4>
          <img src="">
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
