page-login {
  section {
    margin : 15px;
  }
  .button-full-md {
    margin-bottom : 10px;
    border-radius: 5px;
  }
  .item {
    padding-left : 0px;
    height: 56px;
  }

  h1 {
    text-align: center;
    margin: 30px 0px;
  }
  ion-label ion-icon {
    margin-left: 5px;
  }

  // Milooy CSS for ios
  .button-ios {
    box-shadow: none;
    &.button-primary {
      background-color: #FABF58;
    }
    &.button-fb {
      background-color: #3599da;
    }
  }
  .button-ios {
    margin-bottom : 10px;
    border-radius: 5px;
  }
}
