page-login {
  // ion-content {
  //   height: 100%;
  //   display: block;
  //   vertical-align: middle;
  // }

  section {
    margin : 15px;
  }

  .button-full-md {
    margin-bottom : 10px;
  }

  .item-md {
    padding-left : 0px;
  }

  h1 {
    text-align: center;
    margin: 30px 0px;
  }
}
