$point-color: #fd4a36;

page-home {

}
.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    display: flex;
    align-items: baseline;
  }
}
.card-background-page ion-card {
  text-align: right;
  .button-clear-md-danger {
    color: #cccccc;
    .ion-md-heart {
      color: $point-color;
    }
  }
  .button-clear-ios-danger {
    color: #cccccc;
    .ion-ios-heart {
      color: $point-color;
    }
  }
}
